html{

    height: 100%;
    background-color: #b2afd9;
background-image: linear-gradient(57deg, #b2afd9 0%, #97D9E1 100%);

}

.flex-container{
    display: flex;
}

.nav-list{

background-color: white;
box-shadow: 0px 0px 10px black;
margin: -8px;
padding: 1rem 0;
justify-content: flex-end;
align-items: center;

}

.nav-item:first-child{
    margin-right: auto;
    margin-left: 1rem;
}

.nav-item{
    list-style: none;
    margin-right: 2rem;
    
}

.nav-item a{
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding: 5px;
    width: 10px;
    transition: all 200ms ease-in;
}

.nav-item a:hover {

    background-color: lightgray;

}

.project-selection{

border: 1px black solid;

border-left:none;
border-right: none;

margin-left: 2rem;
margin-right: 2rem;



justify-content: center;

}

.project-selection-top{

    border-bottom: none;
    padding-top: 1rem;
}

.project-selection-bottom{

    border-top: none;
    padding-bottom: 1rem;
}

.project-item-picture{

border: 4px solid rgb(0, 0, 0);
border-bottom:none;
box-shadow: 0px 0px 20px black;


}

.project-item-picture img{
    
    margin-bottom: -4px;
    height: 300px;
    width: 200px;
    
}

.project-item-description{
border: 4px solid rgb(0, 0, 0);
border-top:none;
box-shadow: 0px 0px 20px black;
height: 300px;
width: 200px;

background-color: rgba(236, 213, 162, 0.829);

}

.project-item-description a{
    font-weight: bold;
    text-decoration: none;

    color: rgb(255, 208, 0);
    
    -webkit-text-stroke:1px rgb(0, 0, 0);
    font-size: 30px;
    font-stretch: 2rem;
    
    letter-spacing: 1px;
    text-align: center;
    font-family: 'Fantasy';


    padding-left:8px;
    padding-right:8px;
    padding-bottom: 5px;

    transition: all 300ms ease-in;
}

.project-item-description a:hover{
    background-color: rgb(172, 172, 140);
    color: rgb(255, 174, 0);

    
}







.heading {
    
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title{
   color: gold;
   -webkit-text-stroke: 2px black;
}

.title-sites{
    color: gold;
    font-size: 1.2em;
 }


.box {
     width: 300px;
     border: 2px solid rgb(0, 0, 0);
     padding: 10px;
    margin: 20px;

    background: rgb(240, 216, 157);
    background: radial-gradient(circle, rgb(228, 210, 165) 64%, rgba(234,252,70,1) 100%);
 }





 






