html{

    height: 100%;
    background-color: #b2afd9;
background-image: linear-gradient(57deg, #b2afd9 0%, #97D9E1 100%);

}

.flex-container{
    display: flex;
}

.nav-list{

background-color: white;
box-shadow: 0px 0px 10px black;
margin: -8px;
padding: 1rem 0;
justify-content: flex-end;
align-items: center;

}

.nav-item:first-child{
    margin-right: auto;
    margin-left: 1rem;
}

.nav-item{
    list-style: none;
    margin-right: 2rem;
    
}

.nav-item a{
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding: 5px;
    width: 10px;
    transition: all 200ms ease-in;
}

.nav-item a:hover {

    background-color: lightgray;

}

.project-item-picture{

}

.project-item-description{

}






.heading {
    
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title{
   color: gold;
   -webkit-text-stroke: 2px black;
}

.title-sites{
    color: gold;
    font-size: 1.2em;
 }


.box {
     width: 300px;
     border: 2px solid rgb(0, 0, 0);
     padding: 10px;
    margin: 20px;

    background: rgb(240, 216, 157);
    background: radial-gradient(circle, rgb(228, 210, 165) 64%, rgba(234,252,70,1) 100%);
 }





 






